client/testing.py
client/__pycache__/
client/cache/
client/udata/
client/api_test.py
client/testing.py
client/SC_downloads/
server/SC_downloads/
server/api_test.py
server/testing.py
server/__pycache__/
server/cache/
TODO.md